.App {
  text-align: center;
}
nav{
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: deepskyblue;
}
nav .NavLink{
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
}
nav .NavLink:hover{
  background-color: #1565C0
}
.full{
  margin: 2vw;
}
.card{
  box-shadow: 0 4px 8px 0;
  margin: 1vw;
  min-width: 600px;
}
.profile{
  max-width: 700px;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}
iframe {
  position: absolute;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 600px){
  .nav{
    flex-direction: column; 
  }
  nav .NavLink{
    text-align: center;
    border-top: 1px solid;
    width: 100vw;
    height: 50px;
  }
  .card {
    min-width: 290px;
  }
  iframe {
    top: 30%;
    left: 0;
    bottom: 10%;
    right: 0;
    width: 100%;
    height: 70%;
  }
}